* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background: rgb(247, 163, 5);
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar.left {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-left: 0;

}

.navbar.right {
    width: 100%;
    display: flex;
    justify-content: right;
    color: white;
    margin-right: 0;
    font-size: 1.8rem;
    align-items: center;
    margin-right: 0;

}

.profile-shopping-cart {
    align-items: center;
    width: 20%;
    min-width: 300px;
    color: white;
    display: flex;
    justify-content: space-between;

}

.input {
    width: 60%;
    min-width: 250px;
}

.input input {
    width: 100%;
    border-radius: 0.2rem 0 0 0.2rem;
    border: 0 solid white;
    font-size: 15px;
    padding-left: 10px;
    color: black;
    height: border-box;
}


.navbar.right .fa-search {
    background: green;
    width: 70px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0.2rem 0.2rem 0;
    font-size: 25px;

}

.login {
    margin-left: 0;
    width: 50%;
}

.fa-user {
    display: none;
}

.cart-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-left: 1px solid rgba(247, 233, 233, 0.4);
    margin-right: 0;

}

.cart-div div {
    margin-right: 12.5%
}

.account {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
}

.menu-bars {
    margin-right: 15px;
    margin-left: 20px;
    font-size: 50px;
    width: max-content;
    height: 30px;
    align-items: center;
    row-gap: 2px;
    position: relative;
    cursor: pointer;

}

.bars {
    background: white;
    width: 25px;
    height: 3px;
    margin: 5px auto;
}

.navbar .business-logo {
    color: rgb(32, 137, 32);
    text-shadow: 0 0 1.5px black;
    font-size: 1.5em;
    width: 250px;
    text-align: center;
}

.navbar.right .input,
.profile-shopping-cart {
    display: flex;
    justify-content: space-around;
}


.fa,
.cart-div,
.login span:last-child,
.business-logo {
    cursor: pointer;
}

#main {
    position: relative;
    top: 120px;
    width: 100%;
    height: auto;
}

#product-category {
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    height: 60px;
    min-width: 750px;
    background: rgba(200, 200, 200, 0.1);
}

.category:nth-child(1) {
    margin-left: 70px;
}

.category {
    margin: auto 30px
}

.user-icon {
    display: none;
}

@media(max-width: 840px) {

    .navbar.left .business-logo,
    .navbar.right,
    .profile-shopping-cart,
    .account {
        font-size: 20px;
    }

    .navbar.left {
        width: 240px;
    }
}